In [1]:
# importing libraries
import pandas as pd
import glob
import os

In [2]:
# merging the files
joined_files = os.path.join("Resources/Hardik_Data", "*.csv")

In [3]:
# A list of all joined files is returned
joined_list = glob.glob(joined_files)

In [4]:
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
print(df)

C:\Users\hardi\AppData\Local\Temp\ipykernel_23452\1140763581.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

           id        Year  Consumer_spending  Government_spending  \
0           1  2015-01-01               18.0                  5.0
1           2  2016-01-01               24.0                  7.0
2           3  2017-01-01               38.0                  9.0
3           4  2018-01-01               66.0                 13.0
4           5  2019-01-01               79.0                 11.0
...       ...         ...                ...                  ...
211465  70480         NaN                NaN                  NaN
211466  70481         NaN                NaN                  NaN
211467  70482         NaN                NaN                  NaN
211468  70483         NaN                NaN                  NaN
211469  70484         NaN                NaN                  NaN

        Government_Share  Barrels_per_Day       IDE Fuel Type Code  \
0                   22.0              NaN       NaN            NaN
1                   21.0              NaN       NaN            NaN
2                   19.0              NaN       NaN            NaN
3                   17.0              NaN       NaN            NaN
4                   12.0              NaN       NaN            NaN
...                  ...              ...       ...            ...
211465               NaN              NaN  224376.0           ELEC
211466               NaN              NaN  224377.0           ELEC
211467               NaN              NaN  224380.0           ELEC
211468               NaN              NaN  224381.0           ELEC
211469               NaN              NaN  224382.0           ELEC

               City State  ...          Street Address  \
0               NaN   NaN  ...                     NaN
1               NaN   NaN  ...                     NaN
2               NaN   NaN  ...                     NaN
3               NaN   NaN  ...                     NaN
4               NaN   NaN  ...                     NaN
...             ...   ...  ...                     ...
211465    Milwaukee    WI  ...  1555 N River Center Dr
211466       Austin    TX  ...        720 Airport Blvd
211467       Loomis    CA  ...   6119 Horseshoe Bar Rd
211468  Los Angeles    CA  ...     13601 Glenoaks blvd
211469  Los Angeles    CA  ...      6723 Van Nuys Blvd

        Intersection Directions  Access Days Time Geocode Status  \
0                           NaN               NaN            NaN
1                           NaN               NaN            NaN
2                           NaN               NaN            NaN
3                           NaN               NaN            NaN
4                           NaN               NaN            NaN
...                         ...               ...            ...
211465                      NaN    24 hours daily            GPS
211466                      NaN    24 hours daily            GPS
211467                      NaN    24 hours daily            GPS
211468                      NaN    24 hours daily            GPS
211469                      NaN    24 hours daily            GPS

       Date Last Confirmed               Updated At   Open Date  \
0                      NaN                      NaN         NaN
1                      NaN                      NaN         NaN
2                      NaN                      NaN         NaN
3                      NaN                      NaN         NaN
4                      NaN                      NaN         NaN
...                    ...                      ...         ...
211465          2022-07-25  2022-07-25 00:58:13 UTC  2022-07-24
211466          2022-07-25  2022-07-25 01:22:29 UTC  2022-07-24
211467          2022-07-25  2022-07-25 01:30:43 UTC  2022-07-25
211468          2022-07-25  2022-07-25 01:48:14 UTC  2022-07-25
211469          2022-07-25  2022-07-25 01:48:14 UTC  2022-07-25

       NG Vehicle Class Access_Code Facility Type
0                   NaN         NaN           NaN
1                   NaN         NaN           NaN
2                   NaN         NaN           NaN
3                   NaN         NaN           NaN
4                   NaN         NaN           NaN
...                 ...         ...           ...
211465              NaN      public           NaN
211466              NaN      public           NaN
211467              NaN      public           NaN
211468              NaN      public           NaN
211469              NaN      public           NaN

[211470 rows x 25 columns]

In [5]:
merged_df = pd.DataFrame(df)

In [6]:
merged_df.head()

,id,Year,Consumer_spending,Government_spending,Government_Share,Barrels_per_Day,IDE,Fuel Type Code,City,State,...,Street Address,Intersection Directions,Access Days Time,Geocode Status,Date Last Confirmed,Updated At,Open Date,NG Vehicle Class,Access_Code,Facility Type
0,1,2015-01-01,18.0,5.0,22.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2016-01-01,24.0,7.0,21.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2017-01-01,38.0,9.0,19.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2018-01-01,66.0,13.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2019-01-01,79.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211470 entries, 0 to 211469
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       211470 non-null  int64
 1   Year                     252 non-null     object
 2   Consumer_spending        18 non-null      float64
 3   Government_spending      18 non-null      float64
 4   Government_Share         18 non-null      float64
 5   Barrels_per_Day          234 non-null     float64
 6   IDE                      211218 non-null  float64
 7   Fuel Type Code           211218 non-null  object
 8   City                     211218 non-null  object
 9   State                    211218 non-null  object
 10  ZIP                      211215 non-null  object
 11  Latitude                 211218 non-null  float64
 12  Longitude                211218 non-null  float64
 13  Country                  211218 non-null  object
 14  Station Name             211218 non-null  object
 15  Street Address           211300 non-null  object
 16  Intersection Directions  79476 non-null   object
 17  Access Days Time         199884 non-null  object
 18  Geocode Status           211173 non-null  object
 19  Date Last Confirmed      210564 non-null  object
 20  Updated At               211218 non-null  object
 21  Open Date                207930 non-null  object
 22  NG Vehicle Class         5340 non-null    object
 23  Access_Code              211218 non-null  object
 24  Facility Type            82995 non-null   object
dtypes: float64(7), int64(1), object(17)
memory usage: 40.3+ MB

In [10]:
merged_df.fillna(0, inplace=True)

In [11]:
merged_df.head()

,id,Year,Consumer_spending,Government_spending,Government_Share,Barrels_per_Day,IDE,Fuel Type Code,City,State,...,Street Address,Intersection Directions,Access Days Time,Geocode Status,Date Last Confirmed,Updated At,Open Date,NG Vehicle Class,Access_Code,Facility Type
0,1,2015-01-01,18.0,5.0,22.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2016-01-01,24.0,7.0,21.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2017-01-01,38.0,9.0,19.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2018-01-01,66.0,13.0,17.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2019-01-01,79.0,11.0,12.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#Exporting cleaned CSV files to the resources folder
merged_df.to_csv('Resources/Hardik_Data/Merged_Data.csv',index=False)